<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seaport Hacks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/seaport.css') }}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<body>
{% from 'macros.jinja' import icon,ship_card with context %}
{##################################}
{#         Navbar                 #}
{##################################}
{% include 'components/navbar.html' %}

<div class="banner-wrapper">
    <a class="banner-link" href="{{ url }}">
        <img class="banner-img" src="{{ value }}" alt="{{ name }}">
    </a>
</div>

<div class="background-image-wrapper">
    <img class="full-screen-image" src="{{ url_for('static', filename='resources/ships_banner.jpg') }}" alt="a">
</div>

{##################################}
{#         SHIPS                  #}
{##################################}
{% include 'components/ships.html' %}

{##################################}
{#         QUESTS                 #}
{##################################}
{% include 'components/quests.html' %}

{##################################}
{#         Footnote               #}
{##################################}
{% include 'components/footer.html' %}

<script type="text/ecmascript-6" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript">

    $('.banner-link').on('click', function(event) {
        event.preventDefault();
        let url = $(this).attr('href');
        let name = $(this).find('.banner-img').attr('alt');
        let value = $(this).find('.banner-img').attr('src');
        $.ajax({
            type: 'POST',
            url: '/user/update_banner',
            data: {
                url: url,
                name: name,
                value: value
            },
            success: function(data) {
                console.log(data);
            }
        });
    });
</script>

</body>
</html>