{% from 'macros.jinja' import banner with context %}
{% include 'components/head.html' %}
<body>
{% from 'macros.jinja' import banner,icon,ship_card with context %}
{% include 'components/navbar.html' %}

{% include page_content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% include 'components/footer.html' %}
{% include 'components/tail.html' %}