{% macro banner(name='banner', value='', url='') -%}
    <div class="banner-wrapper">
        <a class="banner-link" href="{{ url }}">
            <img class="banner-img" src="{{ value }}" alt="{{ name }}">
        </a>
    </div>
{%- endmacro %}

{# a single icon used in the ship cards #}
{% macro icon(icon,value,alt='', id='') -%}
    <div class="grid col-4 mb-3"> <!-- Center align the contents -->

        <div class="g-col-6">
            {#            <p class="card-text h4 white">{{ value }}</p>#}
            <input name="{{ alt }}" type="text" class="card-text h4 white"
                   style="max-width:40px;background:transparent;text-align:center;outline:none;" value="{{ value }}">
        </div>

        <div class="g-col-6 icon-wrapper">
            <img class="ship-icon h-100"
                 src="{{ url_for('static', filename='resources/'+icon ) }}"
                 alt="{{ alt }}"/>
        </div>
    </div>
{%- endmacro %}


{% macro ship_card(ship,user) -%}

    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body text-center"> <!-- Center align all contents -->

                <div class="row col-12 align-items-center">
                    {% if ship.level == 1 %}
                        <img src="{{ url_for('static', filename='resources/level-1-ship.png') }}"
                             class="card-img-top align-self-center w-25" alt="Ship Image">
                    {% elif ship.level == 5 %}
                        <img src="{{ url_for('static', filename='resources/level-5-ship.svg') }}"
                             class="card-img-top align-self-center w-25" alt="Ship Image">
                    {% else %}
                        <img src="{{ url_for('static', filename='resources/level-3-ship.png') }}"
                             class="card-img-top w-25" alt="Ship Image">
                    {% endif %}
                </div>

                <div class="row align-items-center">
                    <div class="col-12">
                        <h5 class="card-title">{{ ship.name }}</h5>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        {{ icon('crate.svg', ship.capacity,'capacity') }}
                        {{ icon('sailor-pirate.svg', ship.sailors,'sailors') }}
                        {{ icon('stars-level.svg', ship.level,'level') }}
                    </div>
                </div>

                <div class="row align-items-center m-1">
                    <div class="col-12 mt-3">

                        <a href="/ships/edit/{{ ship.id }}"
                           class="btn btn-primary rounded-circle p-2 m-1">
                            <img
                                    src="{{ url_for('static',filename="resources/pen.svg") }}"
                                    class="btn-icon"
                                    alt="edit">
                        </a>

                        <a href="/ships/delete/{{ ship.id }}"
                           class="btn btn-danger rounded-circle p-2 m-1">
                            <img
                                    src="{{ url_for('static',filename="resources/can.svg") }}"
                                    class="btn-icon"
                                    alt="delete">
                        </a>

                        <a href="/ships/level-up/{{ ship.id }}"
                           class="btn btn-warning rounded-circle p-2 m-1">
                            <img
                                    src="{{ url_for('static',filename="resources/upgrade.svg") }}"
                                    class="btn-icon"
                                    alt="level-up">
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

{%- endmacro %}


{% macro create_ship_card() -%}
    <form id="create_ship_form" class="card ship-card m-3">
        <div class="color-white m-3">
            <span onclick="close_form()" class="close-button">x</span>
            <div class="row col-12 align-items-center">

                <div class="col-12">
                    <input type="text" class="card-title form-control font-weight-bold h2" id="ship-title" name="name"
                           placeholder="Ship Name">
                </div>


                <div class="row">
                    <div class="grid col-4 mb-3"> <!-- Center align the contents -->

                        <div class="g-col-6">
                            <input type="number" name="capacity" type="text" class="card-text h4"
                                   style="max-width:60px;text-align:center;outline:none;" value="0">
                        </div>

                        <div class="g-col-6 icon-wrapper">
                            <img class="icon-thumb"
                                 src="{{ url_for('static', filename='resources/cargo.svg' ) }}"
                                 alt="capacity"/>
                        </div>
                    </div>
                    <div class="grid col-4 mb-3"> <!-- Center align the contents -->

                        <div class="g-col-6">
                            <input type="number" name="sailors" type="text" class="card-text h4"
                                   style="max-width:60px;text-align:center;outline:none;" value="0">
                        </div>

                        <div class="g-col-6 icon-wrapper">
                            <img class="icon-thumb"
                                 src="{{ url_for('static', filename='resources/sailor.svg' ) }}"
                                 alt="sailors"/>
                        </div>
                    </div>
                    <div class="grid col-4 mb-3"> <!-- Center align the contents -->

                        <div class="g-col-6">
                            <input type="number" name="level" type="text" class="card-text h4"
                                   style="max-width:60px;text-align:center;outline:none;" value="0">
                        </div>

                        <div class="g-col-6 icon-wrapper">
                            <img class="icon-thumb"

                                 src="{{ url_for('static', filename='resources/stars-level.svg' ) }}"
                                 alt="level"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'svg.jinja' %}
        <div id="edit-btns">
            <button
                    id="submit-btn"
                    type="submit"
                    class="btn">
                {{ floppy() }}
            </button>

            <button
                    id="delete-btn"
                    type="submit"
                    class="btn">
                {{ can() }}
            </button>
        </div>
    </form>
    <script type="text/javascript">

        const form = $('#create_ship_form');
        form.hide();
        $('#delete-btn').click(e => {
            e.preventDefault();
            Array.from(form.children().find('input')).forEach(i => {
                if (i.name === 'name') {
                    i.value = ''
                } else {
                    i.value = 0
                }
            })
        })

        const submit = $('#submit-btn');
        submit.click(e => {
            e.preventDefault();
            const formData = new FormData(document.getElementById('create_ship_form'));
            // Send the POST request
            $.ajax('/ships/create',
                {
                    method: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        console.log(data)
                        form.hide();
                        Array.from(form.children().find('input')).forEach(i => {
                            i.value = ''
                        })

                        const list = $('#ship-list')
                        list.load(document.URL + ' #ship-list')
                        $('#collapse-create-ship').show()
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                }
            );
        })

        function close_form() {
            $('#collapse-create-ship').show()
            form.hide()
        }
    </script>
{%- endmacro %}