{% from 'macros.jinja' import banner with context %}
{% include 'components/head.html' %}
<body>
{% from 'macros.jinja' import banner,icon,ship_card with context %}
{% include 'components/navbar.html' %}

<div class="container">
    <h2>User ID: {{ user.name }}</h2>
    <p>User ID: {{ user.id }}</p>
    <h3>{{ user.profile }}</h3>

    <h2>Ships</h2>
    <div class="row">
        {% for ship in user.ships %}
            {{ ship_card(ship,user) }}
        {% endfor %}
    </div>
    <div>
        <a href="/ships/create/{{ user.id }}" class="btn btn-primary">Add new Ship</a>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% include 'components/footer.html' %}
{% include 'components/tail.html' %}