{% from 'macros.jinja' import ship_table, resource_table with context %}

<div class="container">
    <h1>Compute quest</h1>

    <div id="selectedShips">
        <h2>Selected Ships</h2>
        <ul id="selectedShipsList"></ul>
    </div>

    <form id="algorithmForm" method="POST">
        <label for="algorithmType">Select Algorithm Type:</label>
        <select id="algorithmType" name="algorithmType">
            <option value="capacity_critical">Capacity Algorithm</option>
            <option value="time_critical">Time Algorithm</option>
        </select>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Level</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for ship in ships %}
                    <tr>
                        <td>{{ ship.name }}</td>
                        <td>{{ ship.capacity }} <img class="small-icon" src="{{ url_for('static', filename='resources/crate.svg') }}" alt="crate"></td>
                        <td>
                            {% for sh in range(ship.level) %}
                                <img class="small-icon" alt="star" src="{{ url_for('static', filename='resources/star.svg') }}">
                            {% endfor %}
                        </td>
                        <td>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="selectedShips" value="{{ ship.name }}">
                            </label>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="button-container">
            <button type="submit" class="btn btn-success m-1">Compute</button>
            <a class="btn btn-secondary m-1" href="/">Back</a>
        </div>
    </form>
</div>
