<div class="container">
    <h1>Display Ships</h1>

    {% if ships_result and resources_result %}
        {% for possibility_index in range(0, ships_result|length) %}
            <h2>Possibility {{ possibility_index + 1 }}</h2>
            {% set resource_group = resources_result[possibility_index] %}
            {% set possibility = ships_result[possibility_index] %}
            {% for round_index in range(0, possibility|length) %}
                <h3>Round {{ round_index + 1 }}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ship</th>
                            <th>Resource</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set round = possibility[round_index] %}
                        {% for ship_index in range(0, round|length) %}
                            <tr>
                                <td>{{ ship_card(round[ship_index]) }}</td>
                                <td>{{ resource_group[round_index][ship_index] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>No algorithm result available.</p>
    {% endif %}

    <a class="btn btn-secondary m-1" href="/">Back</a>
</div>
