<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 Long Duerpsch VWgl & Co. Kg. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline text-md-end">
                    <li class="list-inline-item"><a href="/info/privacy-policy">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="/info/terms-of-service">Terms of Service</a></li>
                    <li class="list-inline-item"><a href="/info/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>