
{% from 'macros.jinja' import ship_table, resource_table with context %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- Sidebar with a list of ships -->
			<h2>Ships</h2>
			{{ ship_table(ships) }}
		</div>
		<div class="col-md-9">
			<!-- Main content for quest details -->
			<h1>{{ quest.title }}</h1>
			<p>ID: {{ quest.id }}</p>
			<p>Description: {{ quest.description }}</p>
			<h2>Resources:</h2>
			{{ resource_table(quest) }}
		</div>
		<button class="btn btn-success m-1" onclick="compute()">Compute</button>
		<a class="btn btn-secondary m-1" href="/">Back</a>
	</div>

    <table id="result-table">
        <tr>
            <th>Round</th>
            <th>Ships</th>
            <th>Resources to move</th>
        </tr>
    </table>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    function compute(){
        $.ajax({
            url: "/quests/{{ quest.id }}/compute",
            type: "POST",
            success: function(data){
                console.log(data);
            }
        });
    }
</script>
