
{% from 'macros.jinja' import ship_table, resource_table with context %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- Sidebar with a list of ships -->
			<h2>Ships</h2>
			{{ ship_table(ships) }}
		</div>
		<div class="col-md-9">
			<!-- Main content for quest details -->
			<h1>{{ quest.title }}</h1>
			<p>ID: {{ quest.id }}</p>
			<p>Description: {{ quest.description }}</p>
			<h2>Resources:</h2>
			{{ resource_table(quest) }}
		</div>
		<a class="btn btn-success m-3" href="/quests/{{ quest.id }}/compute">Compute</a>
		<a class="btn btn-secondary m-3" href="/">Back</a>
	</div>
</div>
