<h1 class="mt-4">Create a New Ship</h1>
<form method="POST" action="/create-ship">
    <div class="form-group">
        <label for="name">Ship Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="type">Ship Type:</label>
        <input type="text" class="form-control" id="type" name="type" required>
    </div>
    <button type="submit" class="btn btn-primary">Create Ship</button>
    <a href="/user/{{ user_id }}" class="btn btn-outline-danger"> Back </a>
</form>